# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.tp_jeu_test_level.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\mathi\OneDrive\Bureau\tp_jeu_test_level\.idea\.idea.tp_jeu_test_level\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
